extends ../layout

block css
  link(rel="stylesheet", href="/public/vendor/CodeMirror-2.25/lib/codemirror.css")
  link(rel="stylesheet", href="/public/vendor/CodeMirror-2.25/theme/ambiance.css")

block body
  #exercises.row(data-chapter="#{chapterId}")
    .span8
      #editor
    .span4
      #results

  .row
    .span8
      #main
        | !{content}

block scripts
  script(src="/public/vendor/CodeMirror-2.25/lib/codemirror.js")
  script(src="/public/vendor/CodeMirror-2.25/mode/javascript/javascript.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(src="/public/js/editor.js")
  script(src="/public/js/exercises.js")
  script(src="/public/js/examples.js")
