extends ../layout

block body

  #main.row
    .span4
      ul.nav.nav-tabs.nav-stacked
        for item in menu
          li
            a(href="#{item.path}")= item.name

    .span8
      .page-header.home-page-header
        h1= title
      !{content}
