extends ../layout

block body
  .hero-unit
    h1= title
    p !{blurb}
  .row
    .span4
      ul.nav.nav-tabs.nav-stacked
        for item in menu
          li
            a(href="#{item.path}")= item.name

      include ../bocoup_ad

    .span8
      !{content}
