body {
  padding-top: 60px;
}

* { box-sizing: border-box; }

.navbar .brand {
  background-image: url('../img/henrietta-and-jude-90.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px 50%;
  padding-left: 50px;
  margin-left: 0;
}

.editor {
  border: 1px solid #eee;
  margin: 0 0 10px 0;
}

.CodeMirror pre {
  line-height: 1.5em;
  letter-spacing: 1.5;
}

.editor-buttons {
  background-color: #f7f7f7;
  text-align: right;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.editor-buttons i {
  margin-left: 5px;
  cursor: pointer;
}

.CodeMirror {
  font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace !important;
  font-size: 90%;
}

.editor .CodeMirror-scroll {
  height: 250px;
}

.example {
  border: 1px solid #eee;
  margin: 20px 0;
}

.example .CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.btn + .btn {
  margin: 0 10px;
}

.CodeMirror .cm-s-default span.cm-comment {
  color: #888;
}

#results {
  padding: 10px;
  border: 1px solid #eee;
}

#sandbox {
  position: fixed;
  background-color: #fff;
  padding: 20px 0;
}

#main {
  margin-top: 350px;
}

.sandbox-hidden #main {
  margin-top: 0;
}

.sandbox-hidden #sandbox {
  display: none;
}

footer {
  font-size: 10px;
}

#links {
  padding: 8px 0;
}

.centered {
  text-align: center;
}

h4 + .alert {
  margin-top: 20px;
}
