.well.bocoup-ad
  p
    img(src="/public/img/henrietta-and-jude-90.png")
  p
    | jQuery Fundamentals is a
    | <a href="http://training.bocoup.com">Bocoup Training</a> production.
    | We offer in-person training in Boston and at your location.

