.well.bocoup-ad
  p.centered
    a(href="http://training.bocoup.com")
      img(src="/public/img/henrietta-and-jude-small.png")
  p
    | jQuery Fundamentals is brought to you by
    | <a href="http://training.bocoup.com/?utm_source=jqf&utm_medium=promo_block&utm_campaign=jqf_app"><strong>Bocoup Training</strong></a>.
  p
    | <strong>Upcoming classes:</strong><br>  
    | <a href="http://training.bocoup.com/?utm_source=jqf&utm_medium=promo_block&utm_content=comp_jquery&utm_campaign=jqf_app">Comprehensive jQuery</a><br>
    | <a href="http://training.bocoup.com/?utm_source=jqf&utm_medium=promo_block&utm_content=js_foundations&utm_campaign=jqf_app">Foundations of Programming with JS</a><br>
    | <a href="http://training.bocoup.com/?utm_source=jqf&utm_medium=promo_block&utm_content=js_best&utm_campaign=jqf_app">JavaScript Best Practices</a>

