.well.bocoup-ad
  p.centered
    a(href="http://training.bocoup.com")
      img(src="/public/img/henrietta-and-jude-small.png")
  p
    | jQuery Fundamentals is a
    | <a href="http://training.bocoup.com">Bocoup Training</a> production.
    | We offer in-person training in Boston and at your location.

