.well.bocoup-ad
  .advertisements
    | <script type="text/javascript">var p="http",d="static";if(document.location.protocol=="https:"){p+="s";d="engine";}var z=document.createElement("script");z.type="text/javascript";z.async=true;z.src=p+"://"+d+".adzerk.net/ados.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(z,s);</script><script>var ados = ados || {};ados.run = ados.run || [];ados.run.push(function() {/* load placement for account: Bocoup, site: jQuery Fundementals, size: 120x90 - Button 1 and Text*/ados_add_placement(4433, 27630, "azk69315", 1);ados_load();});</script>

    #azk69315
    span.adsbybocoup Open Web ads by <a href="http://bocoup.com">Bocoup</a>.