extends layout.pug

block body

  #main.row
    .span12
      .page-header.home-page-header
        h1 Sorry, what you&rsquo;re looking for isn&rsquo;t here
      | <p style="margin-bottom: 50px;">You probably want to head to the <a href="/">home page</a> instead, don't you think?</p>
