head

  - if (title)
    title jQuery Fundamentals :: #{title}
  - else
    title jQuery Fundamentals

  block css

  | <link rel="shortcut icon" href="/favicon.ico">
  link(rel="stylesheet", href="/public/vendor/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet", href="/public/css/base.css")
