<!DOCTYPE html>
html
  head
    link(rel="stylesheet", href="/public/vendor/bootstrap/css/bootstrap.min.css")
    style.
      body { margin : 0; padding: 0; font-family: Helvetica, Arial, sans-serif; }
      .selected { color : red; }
      .hidden { display : none; visibility: visible; }
      body > .container { margin-left: 0; }
  body
    | !{content}

  script(src="/public/vendor/jquery.js")
  script(src=`/public/${cachebust}/js/sandbox.js`)
