!!! 5
html
  head
    link(rel="stylesheet", href="/public/vendor/bootstrap/css/bootstrap.min.css")
    style
      .selected { color : red; }
      body { margin : 0; padding: 0; font-family: Helvetica, Arial, sans-serif; }
  body
    | !{content}

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")

