!!! 5
html
  head
    link(rel="stylesheet", href="/public/vendor/bootstrap/css/bootstrap.min.css")
    style
      body { margin : 0; padding: 0; font-family: Helvetica, Arial, sans-serif; }
      .selected { color : red; }
      .hidden { display : none; }
  body
    | !{content}

  script(src="http://code.jquery.com/jquery-1.8rc1.js")
