!!! 5
html
  include header

  body
    a(href="https://github.com/bocoup/jqfundamentals.com")
      img.github-ribbon(src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") jQuery Fundamentals

          block header_buttons

      block fixed_header

    .container
      block body

      footer
        p
          | <a href="/legacy">View the original book</a> &bullet; <a href="mailto:jqf@bocoup.com">Send feedback</a> &bullet; Copyright &copy; 2013&ndash;2014 <a href="http://bocoup.com">Bocoup</a>
          | <br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">jqueryfundamentals.com</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://bocoup.com/" property="cc:attributionName" rel="cc:attributionURL">Bocoup, LLC</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.

    block scripts
    script
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-1464992-55']); _gaq.push(['_trackPageview']);

      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
