!!! 5
html
  include header

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") jQuery Fundamentals

          block header_buttons

      block fixed_header

    .container
      block body

    block scripts
