!!! 5
html
  include header

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") jQuery Fundamentals

    .container
      if title
        .page-header
          h1= title

      .row
        block body

    block scripts
