ul.nav
  li
    a(href="/") Home
  li.dropdown
    a.dropdown-toggle(data-toggle="dropdown", href="#") Contents &raquo;
    ul.dropdown-menu
      li
        a(href="/chapter/javascript-basics") JavaScript Basics
      li
        a(href="/chapter/jquery-basics") jQuery Basics
      li
        a(href="/chapter/traversing-manipulating") Traversing &amp; Manipulating
      li
        a(href="/chapter/events") Events &amp; Event Delegation
      li
        a(href="/chapter/effects") Effects
      li
        a(href="/chapter/ajax-deferreds") AJAX &amp; Deferreds
  li
    a(href="mailto:jqf@bocoup.com") Feedback